# Tweet localizados
En el siguiente apartado se analizará principalmente los tweet que contienen localización: similitudes y diferencias con aquellos que no la tienen, distribución, etc.

In [8]:
import pandas as pd

## Preparación del dataframe
Se lee el dataframe y se procesa con el fin de crear la estructura necesaria para trabajar con él.

In [9]:
tweets = spotify_songs = pd.read_csv('Data/train.csv')
tweets.head(10)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
5,8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,1
6,10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,1
7,13,NaN,NaN,I'm on top of the hill and I can see a fire in...,1
8,14,NaN,NaN,There's an emergency evacuation happening now ...,1
9,15,NaN,NaN,I'm afraid that the tornado is coming to our a...,1

Se crea una columna booleana que indique si tiene localización o no y también una columna del tipo integer para tener la longitud de los tweets.

In [10]:
tweets['located'] = tweets['location'].notnull().astype(int)
tweets['lenght'] = tweets['text'].str.len()
tweets.tail()

,id,keyword,location,text,target,located,lenght
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1,0,83
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1,0,125
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,0,65
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1,0,137
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1,0,94

## Análisis rápido de la información
Se chequea que los located + not_located sean igual a la cantidad de filas que tiene el dataset = 7613.

In [11]:
tweets_located = tweets['located'].sum()
tweets_not_located = tweets['location'].isnull().sum()
print(tweets_located)
print(tweets_not_located)
print(tweets_located + tweets_not_located)

5080
2533
7613

Los tweets quen contienen localización casi duplican a aquellos que no la contienen.\
A su vez, la suma de tweets localizados mas los no localizados es la cantidad de filas, algo que es lo esperado y nos da indicios que la transformación se llevó a cabo correctamente.

Se sabe que la columna 'location' es de tipo object y contiene un string que describe la localización desde donde se realizó el tweet. Se realiza un value_counts() sobre la columna para mira rápidamente qué tipos de valores puede tomar.

In [12]:
tweets['location'].value_counts()

USA                             104
New York                         71
United States                    50
London                           45
Canada                           29
Nigeria                          28
UK                               27
Los Angeles, CA                  26
India                            24
Mumbai                           22
Washington, DC                   21
Kenya                            20
Worldwide                        19
Chicago, IL                      18
Australia                        18
California                       17
New York, NY                     15
Everywhere                       15
California, USA                  15
San Francisco                    14
Florida                          14
United Kingdom                   14
Washington, D.C.                 13
Los Angeles                      13
Indonesia                        13
NYC                              12
Ireland                          12
Toronto                          12
San Francisco, CA                11
Earth                            11
                               ...
Fashion Heaven. IG: TMId_         1
WORLD WIDE                        1
DÌ_sseldorf, Germany              1
Victorville, CA                   1
Guayaquil                         1
COMING SOON                       1
seattle grace mercy death         1
Suginami-ku, Tokyo, Japan         1
South Carolina, USA               1
Lubbock, TX                       1
Kuwait                            1
Amarillo                          1
Hickville, USA                    1
Oldenburg // London               1
WASHINGTON,DC                     1
Rochester, NY                     1
Edappally,Kochi                   1
SÌ£o Paulo SP,  Brasil            1
El Paso, Texas                    1
Beirut/Toronto                    1
Chamblee, Georgia                 1
iamdigitalent.com                 1
??? ???? ?f glory. ?              1
The Waystone Inn                  1
San Luis Obispo, CA               1
she/her/your majesty/empress      1
Lima, Peru                        1
Beaumont, TX                      1
Mostly Wellington, NZ             1
 ?currently writing a book?       1
Name: location, Length: 3341, dtype: int64

Se ve que los valores que toma la columna en algunos casos pueden llegar a ser valores que no son correctos, por ejemplo: 'I'm a Citizen of the World' no es un valor correcto para una localización. Por ello, cuando se trabaje con esta columna se deberá prestar especial atención a estos outliers.\
Los valores con mayor cantidad de repeticiones en la columnas parecen ser valores correctos como lo son 'USA', 'New York', 'London' y 'Canadá' que son todas ciudades o países de habla anglosajona.

## Localizados vs target
A continuación se analizarán las relaciones que existen entre los tweets localizados y su veracidad definida en la columna 'target'.

In [30]:
located_and_true = tweets[(tweets.located == 1) & (tweets.target == 1)]
located_and_true

,id,keyword,location,text,target,located,lenght
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1,1,55
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1,1,82
37,55,ablaze,World Wide!!,INEC Office in Abia Set Ablaze - http://t.co/3...,1,1,55
46,66,ablaze,"GREENSBORO,NORTH CAROLINA",How the West was burned: Thousands of wildfire...,1,1,97
50,73,ablaze,"Sheffield Township, Ohio",Deputies: Man shot before Brighton home set ab...,1,1,73
51,74,ablaze,India,Man wife get six years jail for setting ablaze...,1,1,75
53,77,ablaze,Anaheim,Police: Arsonist Deliberately Set Black Church...,1,1,95
55,79,ablaze,USA,#Kurds trampling on Turkmen flag later set it ...,1,1,135
56,80,ablaze,South Africa,TRUCK ABLAZE : R21. VOORTREKKER AVE. OUTSIDE O...,1,1,97
59,83,ablaze,"Edmonton, Alberta - Treaty 6",How the West was burned: Thousands of wildfire...,1,1,138
63,91,ablaze,"Concord, CA",@Navista7 Steve these fires out here are somet...,1,1,138
65,93,ablaze,Birmingham,@nxwestmidlands huge fire at Wholesale markets...,1,1,76
68,97,accident,"Nashville, TN",Accident on I-24 W #NashvilleTraffic. Traffic ...,1,1,98
69,98,accident,"Santa Clara, CA",Accident center lane blocked in #SantaClara on...,1,1,123
72,104,accident,"Walker County, Alabama",Reported motor vehicle accident in Curry on He...,1,1,139
73,105,accident,Australia,BigRigRadio Live Accident Awareness,1,1,35
74,107,accident,North Carolina,I-77 Mile Marker 31 South Mooresville Iredell...,1,1,90
77,112,accident,"San Mateo County, CA",Traffic accident N CABRILLO HWY/MAGELLAN AV MI...,1,1,67
78,113,accident,North Carolina,I-77 Mile Marker 31 to 40 South Mooresville I...,1,1,95
79,114,accident,"Njoro, Kenya",the pastor was not in the scene of the acciden...,1,1,91
81,118,accident,Your Sister's Bedroom,I was in a horrible car accident this past Sun...,1,1,98
83,120,accident,"Arlington, TX",#TruckCrash Overturns On #FortWorth Interstate...,1,1,132
84,121,accident,"South Bloomfield, OH",Accident in #Ashville on US 23 SB before SR 75...,1,1,79
86,128,accident,"New Hanover County, NC",FYI CAD:FYI: ;ACCIDENT PROPERTY DAMAGE;NHS;999...,1,1,67
87,129,accident,Maldives,RT nAAYf: First accident in years. Turning ont...,1,1,142
88,130,accident,"Manchester, NH",Accident left lane blocked in #Manchester on R...,1,1,128
89,131,accident,"Wilmington, NC",;ACCIDENT PROPERTY DAMAGE; PINER RD/HORNDALE DR,1,1,47
91,133,accident,"New Hanover County, NC",FYI CAD:FYI: ;ACCIDENT PROPERTY DAMAGE;WPD;160...,1,1,57
93,135,accident,global,Aashiqui Actress Anu Aggarwal On Her Near-Fata...,1,1,79
94,136,accident,Alberta | Sask. | Montana,Suffield Alberta Accident https://t.co/bPTmlF4P10,1,1,49
...,...,...,...,...,...,...,...
7505,10735,wreckage,Mumbai,Wreckage 'Conclusively Confirmed' as From MH37...,1,1,136
7506,10736,wreckage,Tokyo,Wreckage Confirmed As Part of Missing Malaysia...,1,1,103
7508,10739,wreckage,Sydney,MH370 victim's family furious the media was to...,1,1,105
7510,10743,wreckage,WorldWide,#Australia #News ; RT janeenorman: 'High proba...,1,1,139
7511,10744,wreckage,Mumbai,Wreckage 'Conclusively Confirmed' as From MH37...,1,1,136
7512,10745,wreckage,khanna,Wreckage 'Conclusively Confirmed' as From MH37...,1,1,136
7515,10748,wreckage,Africa,Malaysia PM confirms wreckage belongs to MH370...,1,1,92
7517,10750,wreckage,"Mumbai, Maharashtra",Wreckage 'Conclusively Confirmed' as From MH37...,1,1,136
7518,10751,wreckage,Bangkok,CIA plot! *rolling eyes* RT @ajabrown: Chinese...,1,1,136
7519,10752,wreckage,Mumbai,Wreckage 'Conclusively Confirmed' as From MH37...,1,1,136
7520,10753,wreckage,Mumbai,Wreckage 'Conclusively Confirmed' as From MH37...,1,1,136
7521,10754,wreckage,Punjab,Wreckage 'Conclusively Confirmed' as From MH37...,1,1,60
7523,10759,wreckage,Southern California,Malaysian prime minister says Reunion Island w...,1,1,102
7526,10764,wreckage,"Dublin City, Ireland",Wreckage 'Conclusively Confirmed' as From MH37...,1,1,136
7527,10765,wreckage,iTunes,#science Now that a piece of wreckage from fli...,1,1,137
7528,10766,wreckage,Mumbai,Wreckage 'Conclusively Confirmed' as From MH37...,1,1,136
7529,10767,wreckage,uk,Wreckage 'Conclusively Confirmed' as From MH37...,1,1,136
7531,10769,wreckage,"No ID, No VOTE!!!",Check out 'Malaysia Confirms Plane Wreckage Is...,1,1,92
7532,10770,wreckage,iTunes,#science Now that a piece of wreckage from fli...,1,1,137
7533,10771,wreckage,Mumbai,Wreckage 'Conclusively Confirmed' as From MH37...,1,1,60
7534,10772,wreckage,Mumbai,Wreckage 'Conclusively Confirmed' as From MH37...,1,1,136
7536,10775,wreckage,Mumbai,Wreckage 'Conclusively Confirmed' as From MH37...,1,1,136
7537,10776,wreckage,India,Wreckage 'Conclusively Confirmed' as From MH37...,1,1,60
7539,10779,wreckage,Maharashtra,Wreckage 'Conclusively Confirmed' as From MH37...,1,1,136
7540,10780,wreckage,Mumbai,Wreckage 'Conclusively Confirmed' as From MH37...,1,1,136
7541,10782,wreckage,"New Delhi,India",Wreckage 'Conclusively Confirmed' as From MH37...,1,1,136
7542,10783,wreckage,"Xi'an, China",Wreckage 'conclusively confirmed' as from miss...,1,1,83
7543,10784,wreckage,Mumbai,Wreckage 'Conclusively Confirmed' as From MH37...,1,1,136
7552,10795,wrecked,"Santa Cruz, CA",Israel wrecked my home. Now it wants my land. ...,1,1,70
7572,10823,wrecked,"Manhattan, NY",@Kirafrog @mount_wario Did you get wrecked again?,1,1,49

In [29]:
located_and_false = tweets[(tweets.located == 1) & (tweets.target == 0)]
located_and_false.shape[0]

2884